.container {
  background: transparent !important;
  box-shadow: none !important;
}

.toolbar {
  justify-content: space-between;
}

.brand {
  font-family: 'Fasthand', cursive !important;
  color: #3f51b5;
}
